<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LA確認テスト</title>
	<link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
	<h1><%= @count %></h1>
	<form>
		<input  = "/plus"  = "">
		<input type ="submit" value = "+">
		<input type = "/minus"  = >
		<input type ="submit" value = "-">
		<input type = "/clear"  = >
		<input type ="submit" value = "clear">
		<input type = "/kake"  = >
		<input type ="submit" value = "×">
	    <input type = "/waru"  = >
		<input type ="submit" value = "÷">
</body>
</html>
